<div class="overlay-content">
    <h1>Welcome, <%= current_user.username %> to The Sunken Isles!</h1>
    <br>
    <%= button_to "Create Campaign", new_campaign_path, method: :get, class: "btn btn-primary" %> <br>
    <%= button_to "Create Character", new_character_path, method: :get, class: "btn btn-secondary" %>
    <br>
    <h2>Your Active Campaigns</h2>
</div>
