/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

 // Custom Font Face
@font-face {
  font-family: 'Treasure Map Font';
  src: font-url("treasuremap.ttf");
  font-weight: normal;
  font-style: normal;
}

.treasure-map-font {
  font-family: 'Treasure Map Font', sans-serif;
  font-size: 24px;
}

 // Navbar Container with Background Image
.navbar-container {
  width: 100%;
  background-image: url('parchment.jpeg');
  background-size: cover;
  background-position: center;
}

#main_logo {
  max-width: 100%;
  height: auto;
}

// Dark background navbar
//  #main_logo_bg {
//    width: 100%;
//    height: 125px;
//    z-index: 2;
//    display: flex;
//    justify-content: center;
//    align-items: center;
//  }
 

//  .bg-dark {
//    background-color: rgba(0, 0, 0, 0.75) !important; /* Semi-transparent dark background */
//  }
 
.nav-link {
   color: black;
   padding: 0.5rem 1rem;
 }
 
 .nav-link:hover {
   color: lightgray;
 }
 
 .container-fluid {
   padding: 0;
 }
 
 .row.no-gutters {
   margin: 0;
 }
 
 .col {
   padding: 0.5rem; /* Buffer between links and edge of the screen */
 }

.overlay-content {
  color: white;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  align-content: center;
  justify-content: center;
}

.card {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.inner_bg {
  background-color: #8d826e;
  border: 3px solid black;
  min-height: 250px;
  align-content: center;
  justify-content: center;
}

.main_content{
  padding: 3%;
  margin: 0 auto;
  width: 90%;
}

body {
  background-image: url("manaki.jpg");
  background-color: #cccccc;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh; /* Full height of the viewport */
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
 }

.btn {
  margin-top: 10px; /* Add some margin between buttons */
}

.campaign-form {
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: white;
}

nav li {
  padding-left: 20%;
}

.navbar-nav .nav-item .nav-link {
  color: white; /* Adjust the color as needed */
}

.navbar-nav .nav-item .nav-link:hover {
  color: lightgray; /* Adjust the hover color as needed */
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  max-width: 400px
}

.management-label {
  flex: 2;
  text-align: left;
}

.management-qty-field {
  flex: 2;
  max-width: 50px;
}

.gsi-material-button {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  background-color: WHITE;
  background-image: none;
  border: 1px solid #747775;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #1f1f1f;
  cursor: pointer;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
  transition: background-color .218s, border-color .218s, box-shadow .218s;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  max-width: 400px;
  min-width: min-content;
}

.gsi-material-button .gsi-material-button-icon {
  height: 20px;
  margin-right: 12px;
  min-width: 20px;
  width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
  -webkit-transition: opacity .218s;
  transition: opacity .218s;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.gsi-material-button:disabled {
  cursor: default;
  background-color: #ffffff61;
  border-color: #1f1f1f1f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
  opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
  opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state, 
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
  background-color: #303030;
  opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
  background-color: #303030;
  opacity: 8%;
}
